
#   Auth Internal Service
AUTH_SERVICE_URL = ''
AUTH_SERVICE_AUTH = ''


HOST_NAME = ''
ALLOWED_HOSTS = ['']

#   Cache
CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "",
    }
}

#   Cors
CORS_ALLOWED_ORIGINS = [
]
